@use '../variables';

.container {
	max-width: 100%;

	&#{&}--left,
	&#{&}--center {
		margin-right: auto;
	}

	&#{&}--right,
	&#{&}--center {
		margin-left: auto;
	}

	@each $bp, $size in variables.$breakpoints {
		@media (min-width: $size) {
			& {
				width: $size;
			}
		}
	}

	&#{&}--fluid {
		width: 100%;
	}

	@each $bp, $size in variables.$breakpoints {
		&#{&}--#{$bp} {
			max-width: $size;
		}
	}
}
