@use 'sass:map';
@use '@ui/styles/variables';
@use '@ui/styles/functions';

.tab {
	--tab-background-color: transparent;
	--tab-border-color: var(--color-heavy);
	--tab-border-radius: var(--border-radius);
	--tab-border-style: solid;
	--tab-border-width: 1px;
	--tab-spacing: var(--spacer-1);
	--tab-text-color: var(--color-heavy);

	.tab__activator {
		--tab-border-color: transparent;

		border-radius: var(--tab-border-radius);
		margin-right: var(--tab-spacing);
		border-color: var(--tab-border-color);
		border-style: var(--tab-border-style);
		border-width: var(--tab-border-width);
		background-color: var(--tab-background-color);
		padding: var(--spacer-2);
		color: var(--tab-text-color);
		cursor: pointer;
		transition:
			border-color var(--transition),
			background-color var(--transition),
			color var(--transition);
	}

	.tab__nav {
		border-bottom-color: var(--tab-border-color);
		border-bottom-style: var(--tab-border-style);
		border-bottom-width: var(--tab-border-width);
		padding-bottom: var(--tab-spacing);
	}

	@each $color in map.keys(variables.$theme-colors) {
		.tab__nav--#{$color} {
			--tab-border-color: var(--color-#{$color}-transparent);
		}

		.tab__activator--#{$color} {
			--tab-text-color: var(--color-#{$color});

			&.tab__activator--solid {
				&:hover {
					--tab-background-color: var(--color-#{$color}-transparent);
				}

				&.tab__activator--active {
					--tab-background-color: var(--color-#{$color});
					--tab-text-color: #{functions.get-contrasting-text-color($color)};

					&:hover {
						--tab-background-color: var(--color-#{$color}-darken);
					}
				}
			}

			&.tab__activator--outlined {
				&:hover {
					--tab-background-color: var(--color-#{$color}-transparent);
				}

				&.tab__activator--active {
					--tab-border-color: var(--color-#{$color});
				}
			}

			&.tab__activator--text {
				&:hover, &.tab__activator--active {
					--tab-background-color: var(--color-#{$color}-transparent);
				}

				&.tab__activator--active:hover {
					--tab-background-color: var(--color-#{$color});
					--tab-text-color: #{functions.get-contrasting-text-color($color)};
				}
			}
		}
	}
}