@use 'sass:map';
@use '@ui/styles/variables';

.dismiss-button {
	--dismiss-button-background-color: transparent;
	--dismiss-button-text-color: var(--color-heavy);

	background: var(--dismiss-button-background-color);
	color: var(--dismiss-button-text-color);

	border: none;
	cursor: pointer;
	aspect-ratio: 1/1;
	border-radius: 9999px;

	&:hover {
		--notification-close-button-background-color: var(--color-heavy-transparent);
	}
}

@each $color in map.keys(variables.$theme-colors) {
	.dismiss-button--#{$color} {
		--dismiss-button-text-color: var(--color-#{$color});

		&:hover {
			--dismiss-button-background-color: var(--color-#{$color}-transparent);
		}
	}
}
