.dropdown {
	--dropdown-border-radius: var(--border-radius);
	--dropdown-content-shadow-color: var(--color-heavy);

	position: relative;
	display: inline-block;
}

.dropdown__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	// Stacks overlay above other dropdown activators lower in the document
	z-index: 1;
}

.dropdown__content {
	box-shadow: var(--box-shadow) var(--dropdown-content-shadow-color);
	display: none;
	position: absolute;
	width: fit-content;
	max-width: 600px;

	// Stacks dropdown list above dropdown overlay
	z-index: 1;

	$offset: calc(100% + var(--spacer-1));
	&#{&}--down {
		top: $offset;
	}
	&#{&}--up {
		bottom: $offset;
	}
	&#{&}--left {
		right: $offset;
	}
	&#{&}--right {
		left: $offset;
	}

	&#{&}--align-x-left {
		left: 0;
	}
	&#{&}--align-x-right {
		right: 0;
	}
	&#{&}--align-x-center {
		left: 50%;
		transform: translateX(-50%);
	}

	&#{&}--align-y-top {
		top: 0;
	}
	&#{&}--align-y-bottom {
		bottom: 0;
	}
	&#{&}--align-y-center {
		top: 50%;
		transform: translateY(-50%);
	}
}

.dropdown--open .dropdown__content {
	display: block;
	flex-direction: column;
}
