@use 'sass:map';
@use 'mixins';
@use 'variables';

$display-utilities: block, inline, inline-block, flex, inline-flex, grid, inline-grid, none, contents !default;

$position-utilities: static, relative, absolute, fixed, sticky, inherit, initial, revert, revert-layer, unset;

@include mixins.make-responsive() using ($infix) {
	@each $display in $display-utilities {
		.d#{$infix}-#{$display} {
			display: $display;
		}
	}

	@each $position in $position-utilities {
		.position#{$infix}-#{$position} {
			position: #{$position};
		}
	}
}
