@use 'sass:map';
@use '@ui/styles/mixins';
@use '@ui/styles/variables';

.menu {
	--menu-background-color: var(--color-soft);
	--menu-border-color: transparent;
	--menu-border-radius: var(--border-radius);
	--menu-border-style: solid;
	--menu-border-width: 1px;
	--menu-text-color: #{variables.$bold};
	--menu-list-padding-x: var(--spacer-1);
	--menu-list-padding-y: var(--spacer-1);

	background-color: var(--menu-background-color);
	border-color: var(--menu-border-color);
	border-style: var(--menu-border-style);
	border-width: var(--menu-border-width);
	border-radius: var(--menu-border-radius);
	color: var(--menu-text-color);

	margin: 0;
	padding: var(--menu-list-padding-y) var(--menu-list-padding-x);
	list-style: none;
}

.menu__item {
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	@include mixins.make-button('menu');
}

.menu__item--divider {
	border: 0;
	padding: 0;
	margin: var(--spacer-1) var(--spacer-n1);

	hr {
		margin: 0;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
}

.menu__item-button {
	display: block;
	text-decoration: none;
	background: transparent;
	border: none;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: left;
	cursor: pointer;

	&, &:hover, &:active {
		color: inherit;
	}
}

.menu__item-icon {
	display: inline-block;
	width: 45px;
	text-align: center;

	.icon {
		font-size: 20px;
	}
}

@each $color in map.keys(variables.$theme-colors) {
	.menu__item--#{$color}.menu__item--divider hr {
		border-top: 1px solid var(--color-#{$color}-lighten);
	}
}
