.check-radio-group {
	--check-radio-group-margin-bottom: var(--spacer-8);
	--check-radio-group-label-margin-bottom: var(--spacer-2);

	border: 0;
	padding: 0;
	margin: 0 0 var(--check-radio-group-margin-bottom) 0;
}

.check-radio-group__label {
	margin-bottom: var(--check-radio-group-label-margin-bottom);

	font-weight: bold;
}
