select.form-field__input {
	--form-field-select-margin-x: calc(-1 * var(--form-field-input-padding-x));
	--form-field-select-margin-y: calc(-1 * var(--form-field-input-padding-y));

	margin: var(--form-field-select-margin-y) var(--form-field-select-margin-x);
	padding: var(--form-field-input-padding-y) var(--form-field-input-padding-x);

	&.form-field__input--has-left-icon {
		margin-left: calc(-1 * (2 * var(--form-field-input-padding-x) + 30px));
		padding-left: calc(2 * var(--form-field-input-padding-x) + 30px);
		z-index: 0;
	}

	.form-field--focused & {
		--form-field-text-color: var(--color-heavy);
	}
}