@use 'sass:map';
@use '../utilities/variables';
@use '../utilities/functions';
@use 'mixins';

$theme-colors: map.keys(variables.$theme-colors);

.dropdown {
	--dropdown-border-radius: var(--border-radius);

	position: relative;
	display: inline-block;
}

.dropdown__overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	// Stacks overlay above other dropdown activators lower in the document
	z-index: 1;
}

.dropdown__list-wrapper {
	display: flex;
}

.dropdown__list {
	--dropdown-list-padding-x: var(--spacer-1);
	--dropdown-list-padding-y: var(--spacer-1);

	background: variables.$white;
	border-radius: var(--dropdown-border-radius);
	box-shadow: var(--box-shadow);
	display: none;
	position: absolute;
	top: calc(100% + var(--spacer-1));
	margin: 0;
	padding: var(--dropdown-list-padding-y) var(--dropdown-list-padding-x);
	list-style: none;
	width: fit-content;
	max-width: 600px;

	// Stacks dropdown list above dropdown overlay
	z-index: 1;
}

.dropdown--up .dropdown__list {
	top: unset;
	bottom: calc(100% + var(--spacer-1));
}

.dropdown--open .dropdown__list {
	display: block;
	flex-direction: column;
}

.dropdown__item {
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	@include mixins.make-button('dropdown');
}

.dropdown__item--divider {
	border: 0;
	padding: 0;
	margin: var(--spacer-1) var(--spacer-n1);

	hr {
		margin: 0;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
}

.dropdown__item-button {
	display: contents;
	// Apparently, display: contents doesn't guarantee the pointer will work as expected
	cursor: pointer;

	&, &:hover, &:active {
		color: inherit;
	}
}

.dropdown__item-icon {
	display: inline-block;
	width: 45px;
	text-align: center;

	.icon {
		font-size: 20px;
	}
}

.dropdown--child-icons-hidden .dropdown__item-icon {
	display: none;
}

@each $color in $theme-colors {
	.dropdown__list--#{$color} {
		border-color: var(--color-#{$color});
	}

	.dropdown__item--#{$color}.dropdown__item--divider hr {
		border-top: 1px solid var(--color-#{$color}-lighten);
	}
}
