@use 'sass:map';
@use '../utilities/variables';

.tab {
	.tab__activator {
		border-color: transparent;
		background: none;
		padding: var(--spacer-2);
		cursor: pointer;
	}

	@each $color in map.keys(variables.$theme-colors) {
		.tab__nav--#{$color} {
			border-bottom: 1px solid var(--color-#{$color});
		}

		.tab__activator--#{$color} {
			color: var(--color-#{$color});

			&:hover {
				background-color: var(--color-#{$color}-transparent);
			}

			&.tab__activator--active {
				background-color: var(--color-#{$color});
				color: var(--color-#{$color}-lighten);

				&:hover {
					background-color: var(--color-#{$color}-darken);
				}
			}
		}
	}
}